@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: calc(12/16*1rem);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(to bottom, #af67e9, #6565e7);
  height: 100%;
}

.outerContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
}

.container {
  background-color: white;
  width: calc(328/375*100vw);
  margin: auto;
  border-radius: 30px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin-top: calc(148/16*1rem);
  margin-bottom: calc(85/16*1rem);
  box-shadow: 0px 56px 77px -12px rgba(29, 30, 53, 0.51);
  -webkit-box-shadow: 0px 56px 77px -12px rgba(29, 30, 53, 0.51);
  -moz-box-shadow: 0px 56px 77px -12px rgba(29, 30, 53, 0.51);
}

aside {
  width: calc(237/375*100vw);
  margin-top: calc(-110/375*100vw);
  margin-bottom: 62px;
}

aside picture {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

aside picture::before {
  content: '';
  width: 100%;
  aspect-ratio: 1 / 1;
  position: absolute;
  background-image: url(/images/bg-pattern-mobile.svg);
  bottom: -30px;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

main {
  width: calc(280/328*100%);
}

main h1 {
  text-align: center;
  width: 100%;
  color: black;
  font-size: calc(30/16*1rem);
  margin-bottom: 13px;
}

main ul {
  padding-bottom: calc(48/16*1rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main ul li {
  padding: 18px 0 18px 0;
  list-style: none;
  position: relative;
  border-bottom: 1px solid #e7e7e9;
  color: #787887;
}

main ul li span {
  display: block;
  text-align: left;
}

main ul li .question {
  width: 99%;
  font-size: calc(14/16*1rem);
  letter-spacing: -0.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main ul li .question .arrow {
  content: '';
  width: calc(10/16*1rem);
  height: auto;
  background-image: url(/images/icon-arrow-down.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  right: 0;
}

main ul li .bold {
  font-weight: 700;
  color: black;
}

main ul li .answer {
  margin-top: 1rem;
  font-size: calc(12/16*1rem);
  display: none;
  width: 90%;
}

main ul li .show {
  display: block;
}

main ul li .transform {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.box {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .outerContainer {
    position: relative;
  }
  .container {
    width: calc(922/1440*100vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    position: relative;
  }
  aside {
    width: calc(450/922*100%);
    margin-top: calc(88/375*100vw);
    margin-top: 0;
    margin-left: -50px;
    margin-bottom: 0;
  }
  aside picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  aside picture img {
    width: 100%;
  }
  aside picture::before {
    background-image: url(/images/bg-pattern-desktop.svg);
    bottom: -150px;
    background-size: 200%;
    right: 0;
    background-position: right;
    aspect-ratio: 1/2;
  }
  main {
    width: calc(334/922*100%);
    margin-right: 90px;
  }
  main h1 {
    text-align: left;
    margin-top: 71px;
    font-size: calc(33/16*1rem);
  }
  main .question {
    font-size: 1rem;
    letter-spacing: -0.06em;
  }
  main .answer {
    font-size: calc(13/16*1rem);
    letter-spacing: -0.05em;
  }
  .box {
    display: block;
    position: absolute;
    width: calc(190/922*100%);
    left: -100px;
    top: 40%;
  }
  .box img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */